[mysqld]
user=mysql  # Użytkownik systemowy, na którym uruchamiany jest serwer MySQL
datadir=/var/lib/mysql  # Ścieżka do katalogu z danymi bazy danych MySQL
port=3306  # Port nasłuchiwania serwera MySQL
bind-address=0.0.0.0  # Adres IP, na którym serwer MySQL nasłuchuje na połączenia
